<div ref:tree></div>

<script>
    import { createTree } from './aimara'
    import star from './images/star.png'
    import blueKey from './images/blue_key.png'
    import './aimara.css'

    export default {
        data () {
            return {
                roots: null,
                colour: 'white',
                tree: null
            }
        },

        oncreate() {
            const tree = createTree(this.refs.tree, this.get('colour'))
            this.set({ tree })

            const roots = this.get('roots')
            roots.forEach(root => {
                this.renderRoot(tree, root)
            })
            tree.drawTree()
        },

        methods: {
            renderRoot: function (tree, data) {
                const { name, icon = star, children, expanded } = data
                const node = tree.createNode(name, expanded, icon)
                this.renderChildren(node, children)
            },

            renderChild: function (parent, data) {
                const { name, icon = blueKey, children = [], expanded } = data
                const node = parent.createChildNode(name, expanded, icon)
                this.renderChildren(node, children)
            },

            renderChildren: function (parent, children = []) {
                console.log('rendering', children)
                children.forEach(child => this.renderChild(parent, child))
            }
        }
    }
</script>